<div class="container">
<h1 class="margin-top">Editar notas</h1>

<%= form_with(model: @note, local: true, class: :form_form) do |form| %>
  <% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(@note.errors.count, "Error / Errores") %></strong> Prohibieron que esta nota fuera editada:</p>

      <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
        <%= form.label :name, 'Nota' %>
        <%= form.number_field :name, class: "u-full-width"%>
    </div>
  <div class="actions">
    <%= form.submit 'Guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>


<%= link_to 'Mostrar', @note %> |
<%= link_to 'Volver',  notes_path %>
</div>