<h1 class="margin-top">Notas</h1>

<div class="container">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Estudiante</th>
      <th>Docente</th>
      <th>Año</th>
      <th>Seccíon</th>
      <th>Materia</th>
      <th>Lapso</th>
      <th>Nota</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @notes.count == 0 %>
      <tr>
        <td colspan="8">No agregado ninguna nota</td>
      </tr>
    <% else %>
    <% @notes.each do |note| %>
      
      <tr
        <% if  note.name < 10 %>
          class="reprobate"
        <% elsif note.name < 16%>

        <% elsif note.name < 21%>
          class="excellent"
        <% end %>
      >
        <td><%= link_to "#{note.enrollment.student.type_id.name} - #{note.enrollment.student.id_number}", note.enrollment.student %></td>
        <td><%= link_to "#{note.teacher.employee.type_id.name} - #{note.teacher.employee.id_number}", note.teacher.employee %></td>
        <td><%= note.enrollment.school_year.id %></td>
        <td><%= link_to note.teacher.section.name, note.teacher.section %></td>
        <td><%= link_to note.teacher.subject.name, note.teacher.subject %></td>
        <td><%= note.lapse.name %></td>
        <td><%= note.name %></td>
        <td><%= link_to 'Mostrar', note %></td>
        <td><%= link_to 'Editar', edit_note_path(note) %></td>
        <td><%= link_to 'Eliminar', note, method: :delete, data: { confirm: '¿Estas seguro?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<hr>


<%= link_to 'Nueva nota', new_note_path, class: 'button button-primary' %>
</div>