<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @note.enrollment.student.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @note.enrollment.student.last_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Año</strong></li>
          <p><%= @note.enrollment.school_year.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Sección</strong></li>
          <p><%= @note.enrollment.section.name %></p>
        </div>
      </div>
      <div class="row">
        <li><strong>Asignatura</strong></li>
        <p><%= @note.teacher.subject.name %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Lapso</strong></li>
          <p><%= @note.lapse.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Nota</strong></li>
          <p><%= @note.name %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <p><%= @note.created_at %></p>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @note.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>

      <%= link_to 'Docente', @note.teacher.employee %> |
      <%= link_to 'Estudiante', @note.enrollment.student %> |
      <%= link_to 'Editar', edit_note_path(@note) %> |
      <%= link_to 'Volver', notes_path %>
    </section>
  </div>
</div>
