<section class="table-primary">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Nacimiento</th>
      <th>Genero</th>
      <th>Cargo</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if employees.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ningun empleado</td>
      </tr>
    <% else %>
    <% employees.each do |employee| %>
      <tr>
        <td><%= employee.type_id.name %> - <%= employee.id_number %></td>
        <td><%= employee.name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.workstation.name %>
        <td><%= link_to 'Mostrar', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<hr>
<%= link_to 'Nuevo', new_employee_path, class: 'button button-primary' %>
</section>
