<section class="table-primary">
<div class="container">
<table class="u-full-width">
  <h1>Carga laboral obrera</h1>
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Turno</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if laborer == nil %>
      <tr>
        <td colspan="8">No has registrado ninguna carga laboral</td>
      </tr>
    <% else %>
      <tr>
        <td><%= laborer.description %></td>
        <td><%= laborer.working_time %></td>
        <td><%= link_to 'Mostrar', laborer %></td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>
</section>