<section class="table-primary">
<div class="container">
<table class="u-full-width">
  <h1>Carga laboral educativa</h1>
  <thead>
    <tr>
      <th>Turno</th>
      <th>Asignatura</th>
      <th>Año</th>
      <th>Sección</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if teachers.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ninguna carga laboral</td>
      </tr>
    <% else %>
    <% teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.working_time %></td>
        <td><%= teacher.subject.name %></td>
        <td><%= teacher.section.school_year.name %></td>
        <td><%= teacher.section.name %></td>
        <td><%= link_to 'Mostrar', teacher %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</section>
