<section class="search-form">
<div class="container">
  <div class="container">
    <form action="/employees/search" method="GET">
      <div class="row">
          <div class="six columns">
            <label for="store">Tipo de identidad</label>
            <select name="type_id" class="u-full-width">
              <option value="">- Seleccione -</option>
              <% @type_ids.each do |type_id| %>
                <% if type_id.id == 1 %>
                  <option value="<%= type_id.id %>" selected><%=type_id.name %></option>
                <% else %>
                  <option value="<%= type_id.id %>"><%= type_id.name%></option>
                <% end %>
              <% end %>
            </select>            
          </div>
          <div class="six columns">   
            <label for="store">Numero de identidad</label>
            <input type="number" name="number_id" class="u-full-width">
          </div>
      </div>
      <br>
      <button type="submit" class="u-full-width button button-primary">Buscar</button>   
  </div>
</div>
</section>
<section class="area-especial">
    <h1>Empleados</h1>
    <div class="container area-punteado">
      <div class="row ">
          <div class="nine columns">
            <h4>Carga laboral</h4>
            <p> Para agregar una carga laboral en este período escolar, primero deberas agregar al empleado.</p>
          </div>
          <div class="three columns buttons">
            <%= link_to 'AGREGAR', new_employee_path, class: 'button-blue' %>
            <%= link_to 'ADMINISTRATIVO', new_administrative_path, class: 'button-yellow' %>
            <%= link_to 'DOCENTE', new_teacher_path, class: 'button-yellow' %>
            <%= link_to 'OBRERO', new_laborer_path, class: 'button-yellow' %>
          </div>
      </div>
    </div>
</section>

<section class="area-reportes">
    <div class="container">
        <div class="reportes">
          <!-- Variable de estudiantes inscritos -->
            <a href="/employees/all" class="reporte reporte-blue">
                <h5><%= Employee.all.count %></h5>
                <p>Registrados</p>
            </a>
            <a href="/administratives" class="reporte reporte-yellow">
                <h5><%= Administrative.where(school_period_id: session[:school_period]).count %></h5>
                <p>Cargas administrativas</p>
            </a>
            <a href="/teachers" class="reporte reporte-yellow">
                <h5><%= Teacher.where(section: Section.where(school_period_id: session[:school_period])).count %></h5>
                <p>Cargas academicas</p>
            </a>
            <a href="/laborers" class="reporte reporte-yellow">
                <h5><%= Laborer.where(school_period_id: session[:school_period]).count %></h5>
                <p>Cargas obreras</p>
            </a>
        </div>
    </div>
</section>