<div class="container">
<h1>Agregar empleado</h1>

<%= render 'form', {employee: @employee, type_ids: @type_ids, municipalities: @municipalities, parishes: @parishes} %>

<%= link_to 'Volver', employees_path %>
</div>