  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Tipo de documento</strong></li>
          <p><%= @employee.type_id.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Numero de documento</strong></li>
          <p><%= @employee.id_number %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @employee.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @employee.last_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Nacimiento</strong></li>
          <p><%= @employee.date_of_birth %></p>
        </div>
        <div class="six columns">
          <li><strong>Sexo</strong></li>
          <p><%= @employee.gender %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Municipio de Residencia</strong></li>
          <p><%= @employee.parish.municipality.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Parroquia de Residencia</strong></li>
          <p><%= @employee.parish.name %></p>
        </div>
      </div>
      <div class="row">
          <li><strong>Dirección de Residencia</strong></li>
          <p><%= @employee.direction %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Registrado</strong></li>
          <%= @employee.created_at %>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @employee.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Editar', edit_employee_path(@employee) %> |
      <%= link_to 'Volver', employees_path %>
    </section>
</div>

<% 
case @employee.workstation.id # a_variable is the variable we want to compare
when 1 %>
  <%= render 'teacher', {teachers: Teacher.where(section_id: Section.where(school_period_id: session[:school_period]), employee: @employee.id)} %> 
<%
when 2 %>   
  <%= render 'administrative', {administrative: Administrative.find_by(school_period_id: session[:school_period], employee: @employee.id)} %> 
<%
when 3%>
  <%= render 'laborer', {laborer: Laborer.find_by(school_period_id: session[:school_period], employee: @employee.id)} %> 
<%
else
  
end
%>
