<%= form_with(model: student, local: true, class: :form_form, id: :form_student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(student.errors.count, "Error / Errores") %></strong> Prohibieron que este estudiante fuera guardado:</p>
      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field six columns">
      <%= form.label :type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>

    </div>
    <div class="field six columns">
      <%= form.label :id_number, 'Numero de identidad' %>
      <%= form.number_field :id_number, class: 'u-full-width' %>
    </div>
  </div>
  
  <div class="row">
    <div class="field six columns">
      <%= form.label :name, 'Nombre' %>
      <%= form.text_field :name, class: 'u-full-width' %>
    </div>

    <div class="field six columns">
      <%= form.label :last_name, 'Apellido'%>
      <%= form.text_field :last_name, class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="field six columns">
      <%= form.label :date_of_birth, 'Nacimiento' %>
      <%= form.date_field :date_of_birth, class: 'u-full-width' %>
    </div>
    <div class="field six columns">
      <div class="row">
        <div class="six columns">
          <%= form.radio_button(:gender, "Masculino") %>
          <%= label_tag(:gender_male,   "Masculino") %>
        </div>
        <div class="six columns">
          <%= form.radio_button(:gender, "Femenino") %>
          <%= label_tag(:gender_female, "Femenino") %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="field six columns">
      <%= form.label :type_id_id, 'Municipio' %>
      <select name="municipality" class="u-full-width" id="municipality">
        <option value="">- Seleccione -</option>
        <% municipalities.each do |municipality| %>
          <% if parishes[0].municipality.id == municipality.id %>
            <option value="<%= municipality.id %>" selected><%= municipality.name %></option>
          <% else %>
            <option value="<%= municipality.id %>"><%= municipality.name %></option>
          <% end %>
        <% end %>
      </select>    
    </div>
    <div class="field six columns">
      <%= form.label :school_years_id, 'Parroquia'%>
      <%= form.collection_select(:parish_id, parishes,"id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :direction, 'Dirección'%>
    <%= form.text_area :direction, class: 'u-full-width' %>
  </div>

  <div class="actions">
    <hr>
    <%= form.submit 'guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>
