<section class="table-primary">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Nacimiento</th>
      <th>Genero</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if students.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ningun estudiante</td>
      </tr>
    <% else %>
    <% students.each do |student| %>
      <tr>
        <td><%= student.type_id.name %> - <%= student.id_number %></td>
        <td><%= student.name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.date_of_birth %></td>
        <td><%= student.gender %></td>
        <td><%= link_to 'Mostrar', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Eliminar', student, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar estudiante?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<hr>
<%= link_to 'Nuevo', new_student_path, class: 'button button-primary' %>
</section>
