<div class="container">
<h1>Editar estudiante</h1>

<%= render 'form', {student: @student, type_ids: @type_ids, municipalities: @municipalities, parishes: @parishes} %>

<%= link_to 'Mostrar', @student %> |
<%= link_to 'Volver',  students_path %>
</div>