<section class="search-form">
<div class="container">
  <div class="container ">
      <form action="/students/search" method="GET">
        <div class="row">
            <div class="six columns">
              <label for="store">Tipo de identidad</label>
              <select name="type_id" class="u-full-width">
                <option value="">- Seleccione -</option>
                <% TypeId.all.each do |type_id| %>
                  <% if type_id.id == 1 %>
                    <option value="<%= type_id.id %>" selected><%=type_id.name %></option>
                  <% else %>
                    <option value="<%= type_id.id %>"><%= type_id.name%></option>
                  <% end %>
                <% end %>
              </select>            
            </div>
            <div class="six columns">   
              <label for="store">Numero de identidad</label>
              <input type="number" name="number_id" class="u-full-width">
            </div>
        </div>
        <br>
        <button type="submit" class="u-full-width button button-primary">Buscar</button>   
  </div>
</div>
</section>
<section class="area-especial">
    <h1>Estudiantes</h1>
    <div class="container area-punteado">
      <div class="row ">
          <div class="nine columns">
            <h4>Inscripciones</h4>
            <p> Para inscribir a un estudiante en este período escolar, deberas registrarlo primero. Agregarlo solo se hara una vez al año.</p>
          </div>
          <div class="three columns buttons">
            <%= link_to 'AGREGAR', new_student_path, class: 'button-blue' %>
            <%= link_to 'INSCRIBIR', new_enrollment_path, class: 'button-yellow' %>
          </div>
      </div>
    </div>
</section>
<section class="area-reportes">
    <div class="container">
        <div class="reportes">
          <!-- Variable de estudiantes inscritos -->
          <% enrollments = Enrollment.where(school_period_id: session[:school_period]) %>
            <a href="/students/all" class="reporte reporte-blue">
                <h5><%= Student.all.count %></h5>
                <p>Registrados</p>
            </a>
            <a href="/enrollments" class="reporte reporte-yellow">
                <h5><%= enrollments.count %></h5>
                <p>Inscritos</p>
            </a>
            <a href="/enrollments/status" class="reporte reporte-red">
                <h5><%= enrollments.where(status: 1).count%></h5>
                <p>Retirados</p>
            </a>
            <a href="/enrollments/female" class="reporte">
                <h5>
                  <%= enrollments.where(student: Student.where(gender: 1)).count%>
                </h5>
                <p>Hembras</p>
            </a>
            <a href="/enrollments/male" class="reporte">
                <h5>
                  <%= enrollments.where(student: Student.where(gender: 0)).count%>
                </h5>
                <p>Varones</p>
            </a>
            <a href="/enrollments/repeat" class="reporte">
                <h5>
                    <%= enrollments.where(repeat: 1).count%>
                </h5>
                <p>Repitientes</p>
            </a>
            <a href="/enrollments/valera" class="reporte">
                <h5>
                  <%= enrollments.where(student: Student.where(parish: Parish.where(municipality_id: 20))).count%>
                </h5>
                <p>De Valera</p>
            </a>
            <a href="/enrollments/other_municipalities" class="reporte">
                <h5>
                  <%= enrollments.where(student: Student.where(parish: Parish.where.not(municipality_id: 20))).count%>
                </h5>
                <p>Otros Mun.</p>
            </a>
        </div>
    </div>
</section>
