  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Tipo de documento</strong></li>
          <p><%= @student.type_id.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Numero de documento</strong></li>
          <p><%= @student.id_number %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @student.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @student.last_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Nacimiento</strong></li>
          <p><%= @student.date_of_birth %></p>
        </div>
        <div class="six columns">
          <li><strong>Sexo</strong></li>
          <p><%= @student.gender %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Municipio de Residencia</strong></li>
          <p><%= @student.parish.municipality.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Parroquia de Residencia</strong></li>
          <p><%= @student.parish.name %></p>
        </div>
      </div>
      <div class="row">
          <li><strong>Dirección de Residencia</strong></li>
          <p><%= @student.direction %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Registrado</strong></li>
          <%= @student.created_at %>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @student.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Editar', edit_student_path(@student) %> |
      <%= link_to 'Volver', students_path %>
    </section>

</div>

<% @enrollment = Enrollment.find_by(school_period_id: session[:school_period], student: @student.id) %>

<section class="table-primary">
<div class="container">
<table class="u-full-width">
  <h1>Inscripción</h1>
  <thead>
    <tr>
      <th>Año Escolar</th>
      <th>Sección</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @enrollment == nil %>
      <tr>
        <td colspan="8">No has inscrito a este estudiante</td>
      </tr>
    <% else %>
      <tr>
        <td><%= @enrollment.school_year.name %></td>
        <% if @enrollment.section == nil %>
          <td>¿?</td>
        <% else %>
          <td><%= link_to @enrollment.section.name, @enrollment.section %></td>
        <% end %>
        <td><%= link_to 'Mostrar', @enrollment %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<% subjects = Subject.where(school_period_id: session[:school_period]) %>
<% if subjects.any? && @enrollment != nil %>
  <br>
  <h1>Notas</h1>
  <table class="u-full-width">
    <thead>
    <tr>
      <th>Asignatura</th>
      <th>1 Lapso</th>
      <th>2 Lapso</th>
      <th>3 Lapso</th>
      <th>Definitiva</th>
    </tr>
  </thead>
  <tbody>
      <% subjects.each do |subject| %>
        <tr>
        <% definitiva = 0%>
        <!-- Nombre de la asignatura -->
          <td><%= link_to subject.name, subject%></td>
        <!-- Nota primer lapso-->
        <% note1 = Note.find_by(enrollment_id: @enrollment, lapse_id: 1, teacher_id: Teacher.find_by(subject_id: subject))%>
        <%if note1 != nil %>
          <td><%= link_to note1.name, note1 %></td>
          <% definitiva += note1.name%>
        <% else %>
          <td>0</td>
        <% end %>
        <!-- Nota Segundo lapso-->
        <% note2 = Note.find_by(enrollment_id: @enrollment, lapse_id: 2, teacher_id: Teacher.find_by(subject_id: subject))%>
        <% if note2 != nil %>
          <td><%= link_to note2.name, note2 %></td>
          <% definitiva += note2.name%>
        <% else %>
          <td>0</td>
        <% end %>
        <!-- Nota Tercer lapso-->
        <% note3 = Note.find_by(enrollment_id: @enrollment, lapse_id: 3, teacher_id: Teacher.find_by(subject_id: subject))%>
        <% if note3 != nil %>
          <td><%= link_to note3.name, note3 %></td>
          <% definitiva += note3.name%>
        <% else %>
          <td>0</td>
        <% end %>
        <!-- Nota Definitiva -->
          <% definitiva = (definitiva / 3.0).round %>
          <td        
          
          <% if  definitiva < 10 %>
          class="reprobate"
        <% elsif definitiva < 16%>

        <% elsif definitiva < 21%>
          class="excellent"
        <% end %>
          
          ><%= definitiva %></td>
        </tr>
      <% end %>
      
    <% else %>


  </tbody>
<% end %>
</div>
</section>