<div class="container">
<h1 class="margin-top">Editar representante</h1>

<%= render 'form', {representative: @representative, type_ids: @type_ids, municipalities: @municipalities, parishes: @parishes} %>

<%= link_to 'Mostrar', @representative %> |
<%= link_to 'Volver',  representatives_path %>
</div>