<section class="search-form">
<div class="container">
  <div class="container">
    <form action="/representatives/search" method="GET">
      <div class="row">
          <div class="six columns">
            <label for="store">Tipo de identidad</label>
            <select name="type_id" class="u-full-width">
              <option value="">- Seleccione -</option>
              <% TypeId.all.each do |type_id| %>
                <% if type_id.id == 1 %>
                  <option value="<%= type_id.id %>" selected><%=type_id.name %></option>
                <% else %>
                  <option value="<%= type_id.id %>"><%= type_id.name%></option>
                <% end %>
              <% end %>
            </select>            
          </div>
          <div class="six columns">   
            <label for="store">Numero de identidad</label>
            <input type="number" name="number_id" class="u-full-width">
          </div>
      </div>
      <br>
      <button type="submit" class="u-full-width button button-primary">Buscar</button>   
  </div>
</div>
</section>
<section class="area-especial">
    <h1>Representantes</h1>
    <div class="container area-punteado">
      <div class="row ">
          <div class="nine columns">
            <h4>Inscripciones</h4>
            <p> Para inscribir a un estudiante en este período escolar, deberas agregar al representante primero (Opcional).</p>
          </div>
          <div class="three columns buttons">
            <%= link_to 'AGREGAR', new_representative_path, class: 'button-blue' %>
            <%= link_to 'INSCRIBIR', new_enrollment_path, class: 'button-yellow' %>
          </div>
      </div>
    </div>
</section>