<div class="container">
<h1 class="margin-top">Agregar representante</h1>

<%= render 'form', {representative: @representative, type_ids: @type_ids, municipalities: @municipalities, parishes: @parishes} %>

<%= link_to 'Volver', representatives_path %>
</div>