  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Tipo de documento</strong></li>
          <p><%= @representative.type_id.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Numero de documento</strong></li>
          <p><%= @representative.id_number %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @representative.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @representative.last_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Nacimiento</strong></li>
          <p><%= @representative.date_of_birth %></p>
        </div>
        <div class="six columns">
          <li><strong>Sexo</strong></li>
          <p><%= @representative.gender %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Municipio de Residencia</strong></li>
          <p><%= @representative.parish.municipality.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Parroquia de Residencia</strong></li>
          <p><%= @representative.parish.name %></p>
        </div>
      </div>
      <div class="row">
          <li><strong>Dirección de Residencia</strong></li>
          <p><%= @representative.direction %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Registrado</strong></li>
          <%= @representative.created_at %>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @representative.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Editar', edit_representative_path(@representative) %> |
      <%= link_to 'Volver', representatives_path %>
    </section>

</div>

<section class="table-primary">
<div class="container">
<table class="u-full-width">
  <h1>Estudiantes inscritos</h1>
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Genero</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% enrollments = @representative.enrollments %>
    <% if enrollments.count == 0 %>
      <tr>
        <td colspan="8">No has inscrito ningun estudiante</td>
      </tr>
    <% else %>
    <% enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.type_id.name %> - <%= enrollment.student.id_number %></td>
        <td><%= enrollment.student.name %></td>
        <td><%= enrollment.student.last_name %></td>
        <td><%= enrollment.student.gender %></td>
        <td><%= link_to 'Mostrar', enrollment.student %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</section>
