<div class="container">
<h1 class="margin-top">Editar carga administrativa</h1>

<%= form_with(model: @administrative, local: true, class: :form_form) do |form| %>
  <% if @administrative.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(@administrative.errors.count,  "Error / Errores") %></strong> Prohibieron que esta carga laboral obrera fuera editada:</p>

      <ul>
        <% @administrative.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :working_time, 'Turno de trabajo' %>
    <%= form.select :working_time, Administrative.working_times.keys, {include_blank: "- Seleccione -"}, {class: "u-full-width"}%>
  </div>
  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, class: 'u-full-width' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>


<%= link_to 'Mostrar', @administrative %> |
<%= link_to 'Volver',  administratives_path %>
</div>