<h1 class="margin-top">Administrativos</h1>

<div class="container">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Turno</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @administratives.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ningun cargo a administrativo</td>
      </tr>
    <% else %>
    <% @administratives.each do |administrative| %>
      <tr>
        <td><%= administrative.employee.type_id.name %> - <%= administrative.employee.id_number %></td>
        <td><%= administrative.employee.name %></td>
        <td><%= administrative.employee.last_name %></td>
        <td><%= administrative.working_time %></td>
        <td><%= link_to 'Mostrar', administrative %></td>
        <td><%= link_to 'Editar', edit_administrative_path(administrative) %></td>
        <td><%= link_to 'Eliminar', administrative, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<hr>


<%= link_to 'Nuevo cargo', new_administrative_path, class: 'button button-primary' %>
</div>