<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @administrative.employee.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @administrative.employee.last_name %></p>
        </div>
      </div>
      <div class="row">
        <li><strong>Turno de trabajo</strong></li>
        <p><%= @administrative.working_time %></p>
      </div>
      <div class="row">
        <li><strong>Descripción de cargo</strong></li>
        <p><%= @administrative.description %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <p><%= @administrative.created_at %></p>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @administrative.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Empleado', @administrative.employee %> |
      <%= link_to 'Editar', edit_administrative_path(@administrative) %> |
      <%= link_to 'Volver', administratives_path %>
    </section>
  </div>
</div>