<nav class="secondary">
<ul>
    <li><%= link_to 'Estudiantes', students_path %></li>

    <li><%= link_to 'Representantes', representatives_path %></li>
    <li><%= link_to 'Empleados', employees_path %></li>


    <li><%= link_to 'Secciones', sections_path %></li>
    <li><%= link_to 'Asignaturas', subjects_path %></li>
    <li><%= link_to 'Notas', notes_path %></li>


    <% #Validar esto
    #<li><a href="/user">Usuarios</a></li>
    %>
    
</ul>
</nav>