<nav class="primary">
    <div class="logo">
        <a href="#">
            <%= image_tag("logo.png", :alt => "Logo del LBRR") %>
            <p> L.B Rafael Rangel</p>
        </a>
    </div>
    <div class="derecha">
        <%= link_to 'Periodo escolar', school_periods_path %>
        <%= link_to 'Salir', destroy_user_session_path, class: 'button-red' %>
    </div>
</nav>