<%= form_with(model: laborer, local: true, class: :form_form) do |form| %>
  <% if laborer.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(laborer.errors.count, "Error / Errores") %></strong> Prohibieron que esta carga laboral obrera fuera guardado:</p>

      <ul>
        <% laborer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field six columns">
      <%= form.label :type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>

    </div>
    <div class="field six columns">
      <%= form.label :id_number, 'Numero de identidad' %>
      <%= form.number_field :id_number, class: 'u-full-width' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :working_time, 'Turno de trabajo' %>
    <%= form.select :working_time, Administrative.working_times.keys, {include_blank: "- Seleccione -"}, {class: "u-full-width"}%>
  </div>
  <div class="field">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, class: 'u-full-width' %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>
