<h1 class="margin-top">Obreros</h1>

<div class="container">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Turno</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @laborers.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ningun cargo a obrero</td>
      </tr>
    <% else %>
    <% @laborers.each do |laborer| %>
      <tr>
        <td><%= laborer.employee.type_id.name %> - <%= laborer.employee.id_number %></td>
        <td><%= laborer.employee.name %></td>
        <td><%= laborer.employee.last_name %></td>
        <td><%= laborer.working_time %></td>
        <td><%= link_to 'Mostrar', laborer %></td>
        <td><%= link_to 'Editar', edit_laborer_path(laborer) %></td>
        <td><%= link_to 'Eliminar', laborer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<hr>


<%= link_to 'Nuevo cargo', new_laborer_path, class: 'button button-primary' %>
</div>