<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @laborer.employee.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @laborer.employee.last_name %></p>
        </div>
      </div>
      <div class="row">
        <li><strong>Turno de trabajo</strong></li>
        <p><%= @laborer.working_time %></p>
      </div>
      <div class="row">
        <li><strong>Descripción de cargo</strong></li>
        <p><%= @laborer.description %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <p><%= @laborer.created_at %></p>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @laborer.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Empleado', @laborer.employee %> |
      <%= link_to 'Editar', edit_laborer_path(@laborer) %> |
      <%= link_to 'Volver', laborers_path %>
    </section>
  </div>
</div>
