<%= form_with(model: section, local: true, class: :form_form ) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(section.errors.count, "Error / Errores") %></strong> Prohibieron que esta sección fuera guardada:</p>

      <ul>
        <% section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field six columns">
      <%= form.label :type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>

    </div>
    <div class="field six columns">
      <%= form.label :id_number, 'Numero de identidad' %>
      <%= form.number_field :id_number, class: 'u-full-width' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :name, 'Año escolar' %>
    <%= form.collection_select(:school_year_id, SchoolYear.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
  </div>
  <div class="field">
    <%= form.label :name, 'Sección' %>
    <%= form.text_field :name, class: 'u-full-width'%>
  </div>

  
  <div class="actions">
    <hr>
    <%= form.submit 'guardar', id: :button, class: 'button-primary' %>
  </div>


<% end %>