<div class="container">
<h1>Editar sección</h1>

<%= render 'form', {section: @section, school_years: @school_years} %>

<%= link_to 'Mostrar', @section %> |
<%= link_to 'Volver', sections_path %>
</div>