<section class="search-form">
<div class='container'>
  <div class="container">
      <form action="/sections" method="GET">
      <label for="store">Año escolar<%= @school_years_id %></label>
        <div class="row">
            <div class="six columns">
              <select name="year" class="u-full-width">
                <option value="">- Seleccione -</option>
                <% @school_years.each do |school_year| %>
                  <% if school_year.id == session[:school_year].to_i %>
                    <option value="<%= school_year.id %>" selected><%=school_year.name %></option>
                  <% else %>
                    <option value="<%= school_year.id %>"><%= school_year.name %></option>
                  <% end %>
                <% end %>
              </select>            </div>
            <div class="six columns">   
      <button type="submit" class="u-full-width button button-primary">Buscar</button>   
            </div>
        </div>   
  </div>
</div>
</section>
<section class="table-primary">
<div class="container">
<% if @sections %>
    <h1>Secciones</h1>
    <table class="u-full-width">
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Docente guía</th>
            <th colspan="3">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <% if @sections.count == 0 %>
                <tr>
                    <td colspan="4">No has registrado ninguna asignatura</td>
                </tr>
            <% else %>
                <% @sections.each do |section| %>
                <tr>
                    <td><%= section.name %></td>
                    <% if section.employee == nil %>
                      <td>¿?</td>
                    <% else %>
                      <td><%= link_to "#{section.employee.type_id.name} - #{section.employee.id_number}", section.employee %></td>
                    <% end %>
                    <td><%= link_to 'Mostrar', section %></td>
                    <td><%= link_to 'Editar', edit_section_path(section) %></td>
                    <td><%= link_to 'Eliminar', section, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar esta sección?' } %></td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% else %>
    <h2 class="titulo margin-top">Selecciona un año escolar para poder ver las secciones</h2>
<% end %>
    <hr>
    <%= link_to 'Nuevo', new_section_path, class: 'button button-primary' %>
    </div>
</div>
</section>