<!DOCTYPE html>
<html>
<head>
	<title>Planilla de sección</title>
	<meta charset="utf-8">
		<style type="text/css">
		body{
			font-family: Arial;
		}
		table{
			font-size: 12px;
			width: 100%;
		}

	</style>
</head>


<body>
	<table>
		<tr>
			<td>REPÚBLICA BOLIVARIANA DE VENEZUELA</td>
			<td>MATRICULA: V: <span><%= @section.enrollments.where(student_id: Student.where(gender: 0)).count %></span> | H: <span><%= @section.enrollments.where(student_id: Student.where(gender: 1)).count %></span></td>
		</tr>
		<tr>
			<td>MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN</td>
			<td>REPITIENTE: V: <span><%= @section.enrollments.where(repeat: 1, student_id: Student.where(gender: 0)).count %></span> | H: <span><%= @section.enrollments.where(repeat: 1, student_id: Student.where(gender: 1)).count %></span></td>
		</tr>
		<tr>
			<td>LICEO BOLIVARIANO RAFAEL RANGEL</td>
			<td>RETIRADOS: V: <span><%= @section.enrollments.where(status: 1, student_id: Student.where(gender: 0)).count %></span> | H: <span><%= @section.enrollments.where(status: 1, student_id: Student.where(gender: 1)).count %></span></td>
		</tr>
		<tr>
			<td>VALERA ESTADO TRUJILLO</td>
			<td></td>
		</tr>
		<tr>
			<th align="left">PROFESOR GUÍA: 
                <% if @section.employee != nil%>
                    <%= @section.employee.name.upcase %> <%= @section.employee.last_name.upcase %>
                <% end %>
            </th>
			<td></td>
		</tr>
		<tr>
			<th colspan="2">NÓMINA DE ESTUDIANTES</th>
		</tr>
        <tr>
			<td colspan="2" align="center"><i>PERIODO ESCOLAR <%= @section.school_period.name %> - <%= @section.school_period.name + 1 %></i></td>
		</tr>
	</table>
	</br>
	<table border>
		<thead>
			<tr>
				<th>N°</th>
				<th>IDENTIDAD</th>
				<th>APELLIDOS Y NOMBRES</th>
				<th>SEXO</th>
                <th>FECHA DE NACIMIENTO</th>
                <th>REPITE</th>
			</tr>
		</thead>
		<tbody><% i= 0%>
			<% @section.enrollments.each do |enrollment| %>
				<tr>
					<td><%= i+=1 %></td>
					<td><%= enrollment.student.type_id.name %> - <%= enrollment.student.id_number %></td>
					<td><%= enrollment.student.last_name.upcase %> <%= enrollment.student.name.upcase %></td>
					<td><%= enrollment.student.gender %></td>
                    <td><%= enrollment.student.date_of_birth %></td>
                    <% if enrollment.repeat%>
                        <td>X</td>
                    <% else %>
                        <td></td>
                    <% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</body>
</html>