<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombre</strong></li>
          <%= @section.name %>
        </div>
        <div class="six columns">
          <li><strong>Año</strong></li>
          <%= @section.school_year.name %>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <%= @section.created_at %>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <%= @section.updated_at %>
        </div>
      </div>
      </ul>
      <hr>
      <% if @section.employee != nil %>
        <%= link_to 'Docente guía', @section.employee %> |
      <% end %>
      
      <%= link_to 'Editar', edit_section_path(@section) %> |
      <%= link_to 'Volver', sections_path %>
    </section>
  </div>
</div>

<section class="table-primary">
<div class="container">
<table class="u-full-width">
  <h1>Estudiantes</h1>
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Genero</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% enrollments = @section.enrollments %>
    <% if enrollments.count == 0 %>
      <tr>
        <td colspan="8">No has inscrito ningun estudiante a esta sección</td>
      </tr>
    <% else %>
    <% enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.type_id.name %> - <%= enrollment.student.id_number %></td>
        <td><%= enrollment.student.name %></td>
        <td><%= enrollment.student.last_name %></td>
        <td><%= enrollment.student.gender %></td>
        <td><%= link_to 'Mostrar', enrollment.student %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</section>
