<tr>
<td><%= enrollment.student.type_id.name %> - <%= enrollment.student.id_number %></td>
<td><%= enrollment.student.name %></td>
<td><%= enrollment.student.last_name %></td>
<% if enrollment.representative == nil %>
    <td>¿?</td>
<% else %>
    <td><%= link_to "#{enrollment.representative.type_id.name} - #{enrollment.representative.id_number}", enrollment.representative %></td>
<% end %>
<td><%= enrollment.school_year.id %></td>
<% if enrollment.section == nil %>
    <td>¿?</td>
<% else %>
    <td><%= enrollment.section.name %></td>
<% end %>
<td><%= link_to 'Mostrar', enrollment %></td>
<td><%= link_to 'Editar', edit_enrollment_path(enrollment) %></td>
<td><%= link_to 'Eliminar', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
