<%= form_with(model: enrollment, local: true, class: :form_form, id: :form_enrollment) do |form| %>
  <% if enrollment.errors.any? %>
     <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(enrollment.errors.count, "Error / Errores") %></strong> Prohibieron que el estudiante fuera inscrito:</p>

      <ul>
        <% enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><strong>Identidad del estudiante</strong></p>
  <div class="row">
    <div class="field six columns">
      <%= form.label :type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
    <div class="field six columns">
      <%= form.label :id_number, 'Numero de identidad' %>
      <%= form.number_field :id_number, class: 'u-full-width' %>
    </div>
  </div>
  <hr>
  <p><strong>Identidad del representante</strong></p>
  <div class="row">
    <div class="field six columns">
      <%= form.label :representative_type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:representative_type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
    <div class="field six columns">
      <%= form.label :representative_id_number, 'Numero de identidad' %>
      <%= form.number_field :representative_id_number, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="field six columns">
      <%= form.label :school_year_id, 'Año escolar' %>
      <%= form.collection_select(:school_year_id, SchoolYear.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
    <div class="field six columns">
      <%= form.label :section_id, 'Sección' %>
      <%= form.collection_select(:section_id, Section.where(school_year_id: 99), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :repeat, 'Repite' %>
    <%= form.check_box :repeat %>
  </div>
  <div class="actions">
    <%= form.submit 'Guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>
