<!DOCTYPE html>
<html>
<head>
	<title>Constancia de Estudio</title>
	<meta charset="utf-8">
	<style type="text/css">
		body{
			font-family: Arial;
		}

		h2, h4, p{
			text-align: center;
		}

		p.texto{
			text-align: justify;
		}

		.bloque1{
			margin-top: 10%;
			padding: 2%;
		}

		.bloque2{
			margin-top: 10%;
		}

		.imgHeader{
			width: 100%;
		}

		.img1{
			float: left;
			width: 80%;
		}

		.img2{
			float: right;
			width: 20%;
		}

		.imgGob{
			width: 100%;
		}

		.imgLogo{
			width: 60%;
			float: right;
			margin-top: 1%;
		}

	</style>
</head>
<body>
	<div class="imgHeader">
		<div class="img1">
			<%= wicked_pdf_image_tag('gob.png', :alt => "Logo del mppe", class: 'imgGob') %>
		</div>
		<div class="img2">
			<%= wicked_pdf_image_tag('logo.png', :alt => "Logo del LBRR", class: 'imgLogo') %>
		</div>
	</div>
	<hr>
	<div class="bloque1">
		<h2>Constancia de Estudio</h2>
		<p class="texto">Quien suscribe, Elizabeth Estrada Director(a) del Liceo Bolivariano "RAFAEL RANGEL" de Valera estado Trujillo, código 007917800, por medio de la presente hace constar que el(la) estudiante <b><%= (@enrollment.student.last_name).titleize %> <%= (@enrollment.student.name).titleize %></b> titular de la Cédula de identidad <%= @enrollment.student.id_number %>, cursa en este plantel <%= @enrollment.school_year.name %>° año, sección (<%= @enrollment.section.name %>) del ciclo de Educación <%= SchoolPeriod.find(session[:school_period]).name %>, durante año escolar <%= "#{SchoolPeriod.find(session[:school_period]).name} - #{SchoolPeriod.find(session[:school_period]).name + 1}"%>.</p>

		<p class="texto">Constancia que se expide en Valera en la fecha (<%= Date.today %>)</p>
	</div>
	<div class="bloque2">
		<h4>Por la Dirección</h4>
		<p>________________________</p>
		<p>Elizabeth Estrada</p>
		<p>Director(a)</p>
	</div>
</body>
</html>