<div class="container">
<h1 class="margin-top">Editar inscripción</h1>

<%= form_with(model: @enrollment, local: true, class: :form_form) do |form| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(@enrollment.errors.count, "Error / Errores") %></strong> Prohibieron que esta carga laboral administrativa fuera editada:</p>

      <ul>
        <% @enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><strong>Identidad del representante</strong></p>
  <div class="row">
    <div class="field six columns">
      <%= form.label :representative_type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:representative_type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
    <div class="field six columns">
      <%= form.label :representative_id_number, 'Numero de identidad' %>
      <%= form.number_field :representative_id_number, class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="field six columns">
      <%= form.label :section_id, 'Sección' %>
      <%= form.collection_select(:section_id, Section.where(school_year_id: @enrollment.school_year.id, school_period_id: session[:school_period]).order('name ASC'), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
    <div class="field six columns">
      <div class="row">
        <div class="four columns">
          <%= form.radio_button(:status, "Activo") %>
          <%= label_tag(:status_active,   "Activo") %>
        </div>
        <div class="four columns">
          <%= form.radio_button(:status, "Retirado") %>
          <%= label_tag(:status_inactive, "Retirado") %>
        </div>
        <div class="field four columns">
          <%= form.label :repeat, 'Repite' %>
          <%= form.check_box :repeat %>
        </div>
      </div>
  </div>
  </div>
  <div class="actions">
    <%= form.submit 'Guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>


<%= link_to 'Mostrar', @enrollment %> |
<%= link_to 'Volver',  enrollments_path %>
</div>