<div class="container">
<h1>Estudiantes - Masculino</h1>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Representante</th>
      <th>Año</th>
      <th>Seccíon</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
  <% if @enrollments.any? %>
    <%= render @enrollments %>
  <% else %>
    <tr>
      <td>No has retirado a ningun estudiante</td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>


<%= link_to 'Nueva inscripción', new_enrollment_path, class: 'button button-primary' %>
<%= link_to 'PDF', 'male.pdf', class: 'button' %>
<br>
<%= link_to 'Volver',  students_path %>
</div>
