<!DOCTYPE html>
<html>
<head>
	<title>Planilla de estudiantes inscritos</title>
	<meta charset="utf-8">
		<style type="text/css">
		body{
			font-family: Arial;
		}
		table{
			font-size: 12px;
			width: 100%;
		}

	</style>
</head>


<body>

	</br>
    <h2 align="center">Estudiantes</h2>
	<table border>
		<thead>
			<tr>
				<th>IDENTIDAD</th>
				<th>APELLIDOS Y NOMBRES</th>
				<th>SEXO</th>
                <th>FECHA DE NACIMIENTO</th>
                <th>AÑO</th>
                <th>Sección</th>
                <th>REPITE</th>
			</tr>
		</thead>
		<tbody>
			<% @enrollments.each do |enrollment| %>
				<tr>
					<td><%= enrollment.student.type_id.name %> - <%= enrollment.student.id_number %></td>
					<td><%= enrollment.student.last_name.upcase %> <%= enrollment.student.name.upcase %></td>
					<td><%= enrollment.student.gender %></td>
                    <td><%= enrollment.student.date_of_birth %></td>
                    <td><%= enrollment.school_year.name %></td>
                    <% if enrollment.section%>
                        <td><%= enrollment.section.name %></td>
                    <% else %>
                        <td>¿?</td>
                    <% end %>
                    <% if enrollment.repeat%>
                        <td>X</td>
                    <% else %>
                        <td></td>
                    <% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</body>
</html>