<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @enrollment.student.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @enrollment.student.last_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Año</strong></li>
          <p><%= @enrollment.school_year.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Sección</strong></li>
          <% if @enrollment.section == nil %>
          <p>¿?</p>
          <% else %>
          <p><%= @enrollment.section.name %></p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Estado</strong></li>
          <p><%= @enrollment.status %></p>
        </div>
        <div class="six columns">
          <li><strong>Repite</strong></li>
          <% if @enrollment.repeat %>
          <p>Si</p>
          <% else %>
          <p>No</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <p><%= @enrollment.created_at %></p>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @enrollment.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <% if @enrollment.representative != nil %>
        <%= link_to 'Representate', @enrollment.representative %> |
      <% end %>
      <%= link_to 'Estudiante', @enrollment.student %> |
      <%= link_to 'Editar', edit_enrollment_path(@enrollment) %> |
      <%= link_to 'Volver', enrollments_path %>
    </section>
  </div>
</div>
