<%= form_with(model: subject, local: true, class: :form_form) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Año escolar' %>
    <%= form.collection_select(:school_year_id, SchoolYear.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
  </div>
  <div class="field">
    <%= form.label :name, 'Asignatura' %>
    <%= form.text_field :name, class: 'u-full-width'%>
  </div>

  
  <div class="actions">
    <hr>
    <%= form.submit 'guardar', id: :button, class: 'button-primary' %>
  </div>


<% end %>