<div class="container">
<h1>Editar asignatura</h1>

<%= render 'form', {subject: @subject, school_years: @school_years} %>

<%= link_to 'Mostrar', @subject %> |
<%= link_to 'Volver', subjects_path %>
</div>