<section class="search-form">
<div class='container'>
  <div class="container">
      <form action="/subjects" method="GET">
      <label for="store">Año escolar</label>
        <div class="row">
            <div class="six columns">
              <select name="year" class="u-full-width">
                <option value="">- Seleccione -</option>
                <% @school_years.each do |school_year| %>
                  <!-- Validar esto con la session -->
                  <% if school_year.id == session[:school_year].to_i %>
                    <option value="<%= school_year.id %>" selected="selected"><%=school_year.name %></option>
                  <% else %>
                    <option value="<%= school_year.id %>"><%= school_year.name %></option>
                  <% end %>
                <% end %>
              </select>            </div>
            <div class="six columns">   
      <button type="submit" class="u-full-width button button-primary">Buscar</button>   
            </div>
        </div>   
  </div>
</div>
</section>
<section class="table-primary">
  <div class="container">
  <% if @subjects %>
    <h1>Asignaturas</h1>
    <table class="u-full-width">
        <thead>
            <tr>
            <th>Nombre</th>
            <th colspan="3">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <% if @subjects.count == 0 %>
                <tr>
                    <td colspan="4">No has registrado ninguna asignatura</td>
                </tr>
            <% else %>
                <% @subjects.each do |subject| %>
                <tr>
                    <td><%= subject.name %></td>
                    <td><%= link_to 'Mostrar', subject %></td>
                    <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
                    <td><%= link_to 'Eliminar', subject, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar esta asignatura?' } %></td>
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% else %>
    <h2 class="titulo margin-top">Selecciona un año escolar para poder ver las asignaturas</h2>
<% end %>
    <hr>
    <%= link_to 'Nuevo', new_subject_path, class: 'button button-primary' %>
    </div>
</div>
</section>