<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombre</strong></li>
          <%= @subject.name %>
        </div>
        <div class="six columns">
          <li><strong>Año</strong></li>
          <%= @subject.school_year.name %>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <%= @subject.created_at %>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <%= @subject.updated_at %>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Editar', edit_subject_path(@subject) %> |
      <%= link_to 'Volver', subjects_path %>
    </section>
  </div>
</div>

<section class="table-primary">
<div class="container">
<table class="u-full-width">
  <h1>Cargas laborales</h1>
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Genero</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% teachers = @subject.teachers %>
    <% if teachers.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ninguna carga laboral con esta asignatura</td>
      </tr>
    <% else %>
    <% teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.employee.type_id.name %> - <%= teacher.employee.id_number %></td>
        <td><%= teacher.employee.name %></td>
        <td><%= teacher.employee.last_name %></td>
        <td><%= teacher.employee.gender %></td>
        <td><%= link_to 'Mostrar', teacher.employee %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
</section>
