<%= form_with(model: teacher, local: true, class: :form_form, id: :form_teacher) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(teacher.errors.count, "Error / Errores") %></strong> Prohibieron que esta carga laboral docente fuera guardado:</p>

      <ul>
        <% teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field six columns">
      <%= form.label :type_id_id, 'Tipo de identidad' %>
      <%= form.collection_select(:type_id_id, TypeId.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>

    </div>
    <div class="field six columns">
      <%= form.label :id_number, 'Numero de identidad' %>
      <%= form.number_field :id_number, class: 'u-full-width' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :working_time, 'Turno de trabajo' %>
    <%= form.select :working_time, Administrative.working_times.keys, {include_blank: "- Seleccione -"}, {class: "u-full-width"}%>
  </div>
  <div class="row">
    <div class="field six columns">
      <%= form.label :school_year, 'Año escolar' %>
      <%= form.collection_select(:school_year, SchoolYear.all(), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
    <div class="field six columns">
      <%= form.label :section_id, 'Sección' %>
      <%= form.collection_select(:section_id, Section.where(school_year_id: 99), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :subject_id, 'Materia' %>
    <%= form.collection_select(:subject_id, Subject.where(school_year_id: 99), "id", "name", {include_blank: "- Seleccione -"}, {class: "u-full-width"}) %>
  </div>
  <hr>
  <div class="actions">
    <%= form.submit 'Guardar', id: :button, class: 'button-primary' %>
  </div>
<% end %>
