<h1 class="margin-top">Cargas docentes</h1>

<div class="container">
<table class="u-full-width">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Turno</th>
      <th>Asignatura</th>
      <th>Año</th>
      <th>Seccíon</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @teachers.count == 0 %>
      <tr>
        <td colspan="8">No has registrado ningun cargo a docente</td>
      </tr>
    <% else %>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.employee.type_id.name %> - <%= teacher.employee.id_number %></td>
        <td><%= teacher.employee.name %></td>
        <td><%= teacher.employee.last_name %></td>
        <td><%= teacher.working_time %></td>
        <td><%= teacher.subject.name %></td>
        <td><%= teacher.section.school_year.name %></td>
        <td><%= teacher.section.name %></td>
        <td><%= link_to 'Mostrar', teacher %></td>
        <td><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Eliminar', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<hr>


<%= link_to 'Nuevo cargo', new_teacher_path, class: 'button button-primary' %>
</div>