<!DOCTYPE html>
<html>
<head>
	<title>Planilla de docente</title>
	<meta charset="utf-8">
		<style type="text/css">
		body{
			font-family: Arial;
		}
		table{
			font-size: 12px;
			width: 100%;
		}

	</style>
</head>


<body>
	<table>
		<tr>
			<td>REPÚBLICA BOLIVARIANA DE VENEZUELA</td>
			<td>MATRICULA: V: <span><%= @teacher.section.enrollments.where(student_id: Student.where(gender: 0)).count %></span> | H: <span><%= @teacher.section.enrollments.where(student_id: Student.where(gender: 1)).count %></span></td>
		</tr>
		<tr>
			<td>MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN</td>
			<td>REPITIENTE: V: <span><%= @teacher.section.enrollments.where(repeat: 1, student_id: Student.where(gender: 0)).count %></span> | H: <span><%= @teacher.section.enrollments.where(repeat: 1, student_id: Student.where(gender: 1)).count %></span></td>
		</tr>
		<tr>
			<td>LICEO BOLIVARIANO RAFAEL RANGEL</td>
			<td>RETIRADOS: V: <span><%= @teacher.section.enrollments.where(status: 1, student_id: Student.where(gender: 0)).count %></span> | H: <span><%= @teacher.section.enrollments.where(status: 1, student_id: Student.where(gender: 1)).count %></span></td>
		</tr>
		<tr>
			<td>VALERA ESTADO TRUJILLO</td>
			<td></td>
		</tr>
		<tr>
			<th align="left">PROFESOR GUÍA:<%= @teacher.employee.last_name.upcase %> <%= @teacher.employee.name.upcase %></th>
			<td></td>
		</tr>
		<tr>
			<th colspan="2">NOTAS DE LA SECCION (<%= @teacher.section.name %>) - <%= @teacher.subject.name.upcase %></th>
		</tr>
		<tr>
			<td colspan="2" align="center"><i>PERIODO ESCOLAR <%= @teacher.section.school_period.name %> - <%= @teacher.section.school_period.name + 1 %></i></td>
		</tr>
	</table>
	</br>
	<table border>
		<thead>
			<tr>
				<th rowspan=2>N°</th>
				<th rowspan=2>IDENTIDAD</th>
				<th rowspan=2>APELLIDOS Y NOMBRES</th>
				<th colspan=3>LAPSOS</th>
				
				<th rowspan=2>DEF</th>
			</tr>
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
			</tr>
		</thead>
		<tbody><% i= 0%>
			<% @teacher.section.enrollments.each do |enrollment| %>
				<tr>
					<% definitiva = 0 %>
					<td><%= i+=1 %></td>
					<td><%= enrollment.student.type_id.name %> - <%= enrollment.student.id_number %></td>
					<td><%= enrollment.student.last_name.upcase %> <%= enrollment.student.name.upcase %></td>
					

					<!-- PRIMER LAPSO -->
					<% note_1 = enrollment.notes.find_by(lapse: 1, teacher: @teacher)%>
					<% if note_1 != nil %>
					<td><%= note_1.name %></td><% definitiva += note_1.name %>
					<% else %>
					<td>0</td>
					<% end %>

					<!-- SEGUNDO LAPSO -->
					<% note_2 = enrollment.notes.find_by(lapse: 2, teacher: @teacher)%>
					<% if note_2 != nil %>
					<td><%= note_2.name %></td><% definitiva += note_2.name %>
					<% else %>
					<td>0</td>
					<% end %>

					<!-- TERCER LAPSO -->
					<% note_3 = enrollment.notes.find_by(lapse: 3, teacher: @teacher)%>
					<% if note_3 != nil %>
					<td><%= note_3.name %></td><% definitiva += note_3.name %>
					<% else %>
					<td>0</td>
					<% end %>
					
					<!-- DEFINITIVA -->
					<td><%= (definitiva / 3.0).round %>
				</tr>
			<% end %>
		</tbody>
	</table>
</body>
</html>