<div class="container">
  <div class="container">
    <section class="show">
      <ul>
      <div class="row">
        <div class="six columns">
          <li><strong>Nombres</strong></li>
          <p><%= @teacher.employee.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Apellidos</strong></li>
          <p><%= @teacher.employee.last_name %></p>
        </div>
      </div>
      <div class="row">
        <li><strong>Turno de trabajo</strong></li>
        <p><%= @teacher.working_time %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Año</strong></li>
          <p><%= @teacher.section.school_year.name %></p>
        </div>
        <div class="six columns">
          <li><strong>Sección</strong></li>
          <p><%= @teacher.section.name %></p>
        </div>
      </div>
      <div class="row">
        <li><strong>Asignatura</strong></li>
        <p><%= @teacher.subject.name %></p>
      </div>
      <div class="row">
        <div class="six columns">
          <li><strong>Creada</strong></li>
          <p><%= @teacher.created_at %></p>
        </div>
        <div class="six columns">
          <li><strong>Actualizado</strong></li>
          <p><%= @teacher.updated_at %></p>
        </div>
      </div>
      </ul>
      <hr>
      <%= link_to 'Empleado', @teacher.employee %> |
      <%= link_to 'Editar', edit_teacher_path(@teacher) %> |
      <%= link_to 'Volver', teachers_path %>
    </section>
  </div>
  <br>
  <%= link_to 'Notas', "#{@teacher.id}/payroll.pdf", class: :button%>
</div>
