<div class="form-area">
<%= image_tag("logo.png", :alt => "Logo del LBRR") %>
<h2>Iniciar sesión</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Correo', class: "u-full-width"%>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Contraseña', class: "u-full-width" %>
  </div>


  <div class="actions">
    <%= f.submit "Ingresar", class: 'u-full-width button button-primary' %>
  </div>
<% end %>


</div>