<%= form_with(model: school_period, local: true, class: :form_form, id: :form_school_period) do |form| %>
  <% if school_period.errors.any? %>
    <div id="error_explanation" class="alert alert-error margin-bottom">
      <p><strong><%= pluralize(school_period.errors.count, "Error / Errores") %></strong> Prohibieron que este periodo escolar fuera guardado:</p>
      <ul>
        <% school_period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="field six columns">
    <%= form.label :name, 'Año de inicio'%>
    <%= form.number_field :name, class: 'u-full-width', id: 'start-period' %>
  </div>

  <div class="field six columns">
    <label for="year">Año de cierre</label>
    <input class="u-full-width" type="number" placeholder="Esperando el año de inicio :)" disabled id='end-period'>   
  </div>
</div>
<div class="actions">
  <hr>
  <%= form.submit 'guardar', id: :button, class: 'button-primary'  %>
</div>
<% end %>
