<div class="container">
<h1>Editar período escolar</h1>

<%= render 'form', school_period: @school_period %>

<%= link_to 'Mostrar', @school_period %> |
<%= link_to 'Volver', school_periods_path %>
</div>