<div class='container'>
  <h1>Períodos Escolares</h1>

  <table class="u-full-width">
    <thead>
      <tr>
        <th>Inicio </th>
        <th>Fin</th>
        <th colspan="4">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @school_periods.each do |school_period| %>
        <tr>
          <td><%= school_period.name %></td>
          <td><%= school_period.name+1 %></td>
          <td><%= link_to 'Mostrar', school_period %></td>
          <td><%= link_to 'Editar', edit_school_period_path(school_period) %></td>
          <td><%= link_to 'Eliminar', school_period, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar este período escolar?' } %></td>
          <% if school_period.id == session[:school_period] %>
            <td><i>Seleccionado</i></td>
          <% else %>
            <td><%= link_to 'Seleccionar', change_school_period_path(school_period), data: { confirm: '¿Estas seguro de querer cambiar de periodo?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <%= link_to 'Nuevo', new_school_period_path, class: 'button button-primary'%>
</div>