/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */

body{
    background-color: #fafafa;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

    /* Menus */
nav.primary{
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.21);
    .logo{
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration:none;
            img{
                width: 50px;
                height: 50px;
                margin-right: 5px;
                border-radius: 50%;
                border:1px dashed #616161;
            }
            p{
                display: inline-block;
                align-content: center;
                color:#616161;
                font-size: 22px;
                margin: 0;
            }
        }
    }
    .derecha{
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            text-decoration: none;
            color:#616161;
            margin-left: 15px;
        }
        .button-red{
            text-decoration: none;
            padding: 10px 15px;
            color:#fff;
            background-color:#f44336;
            font-weight: 900;
            font-size: 16px;
            border: 2px solid #f1f3f4;
            margin-left: 10px;
        }
        .button-red:hover{
            color:#f44336;
            background-color: #fff;
        }
    }

}

nav.secondary{
    
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f2f2f2;
        li{
            margin:0;
            a {
                display: block;
                padding: .7rem;
                text-decoration: none;
                border-bottom: 3px solid #f7f7f8;
                color: #282828;
            }
            a:hover {
                color: #2b80d8;
                border-bottom: 3px solid #2b80d8;
            }    
        }
    } 
}
.search-form{
    background-image: linear-gradient(to right top, #974ac0, #8456c8, #6f61cd, #5969cf, #4170cf, #2b80d8, #128fdf, #009de3, #00b8ed, #00d1ea, #00e7db, #5ffbc5);
    color: #fff;
    padding: 20px;
}
.show{
    border-radius: 20px 0 20px 0;
    border-right:5px solid #501ea4;
    border-left:5px solid #1466e3;
    margin-top: 20px;
    padding: 20px 20px;
    background-color: #fff;

    form{
        margin: 0;
        input{
            margin-bottom: 0;
        }
        select{
            margin-bottom: 0;
        }
    }
}


.area-especial{
    margin-top: 30px;
    margin-bottom: 50px;
    
    h1{
        color: #343a40;
    }

    .area-punteado{
        border: 3px dashed #f2f2f2;
        padding: 20px 20px 0px 20px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
    }
    .button-blue, .button-yellow{
        padding: 10px;
        margin: 5px;
        height: 25px;
        transition: .3s all ease;
        border: 2px solid #fff;
    }
    a{
        display: inline-block;
        text-decoration: none;
    }
}


.form_form{
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;

    .sections-checkboxes{
        label {
            
            display: inline-block;
            color: #282828;
            margin: 0 10px;
            padding: 5px 10px;
            border-bottom: 2px solid #33c3f0;
            cursor: pointer;
            
            input[type="checkbox"]{
                width:19px;
                height:19px;
                
                margin:-1px 4px 0 0;
                display:inline-block;
            }
        }
        

    }
}

input[type="date"]{
    padding: 6px;
}



h1{
    text-align: center;
}
.titulo{
    color:  rgba($color: #000, $alpha: .4);
    text-align: center;
    padding: 20px;
    border: 3px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    
}

.margin-top{
    margin-top: 50px;
}
.margin-bottom{
    margin-bottom: 50px;
}


table{
    border-collapse: collapse;

    thead{
        background-color: #343a40;
        color: #fff;
    }
    tbody{
        tr{
            background-color: #fff;
        }
        tr:hover{
            background: #f2f2f2;
        }
    }

    .approved{
        background-color: #fcf3cf;
    }
    .reprobate{
        background-color: #fadbd8;
    }
    .excellent{
        background-color: #d5f5e3;
    }

}
/* Reportes */
.area-reportes{
    background: #efeff1;

    .reportes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px 10px;

        .reporte, .reporte-materia{
                padding: 10px 20px;
                text-decoration: none; 
                margin: 10px;
                transition: .3s all ease;
                border: 2px;
                background: #fff;
                min-width: 45px;
        
            h5, p{
                margin: 0;
                padding: 0;
                text-align: center;
            }

            h5{
                font-weight: 900;
            }
            
        }

        .reporte-materia {
            color: #514f59;
            border-radius: 5px;
            text-align: center;
        }

        .reporte:hover{
            background: #ccc;
            color: #fff;
        }
        .reporte-yellow{
            background: #ffeb3b;
            color: #000;
        }
        .reporte-blue{
            background-color: #2196f3;
            color: #fff;
        }
        .reporte-blue:hover{
            background-color: #fff;
            color: #2196f3; 
        }
        .reporte-yellow:hover{
            background-color: #fff;
            color: #ffeb3b; 
        }
        .reporte-red{
            background-color: #f44336;
            color: #fff;
        }
        .reporte-red:hover{
            background-color: #fff;
            color: #f44336;
        }
    }
}

.text-warning{
    color: #fdca05;
}
.text-danger{
    color: #f44336;
}



/* Alerts */
.alert {
    display: block;
    padding: 15px;
    border-left: 5px solid;
    margin-bottom: 0;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

.table-primary{
    margin-top: 20px;
    padding: 30px 0;
    table{
        box-shadow: none;
    }
    

    h1{
        color: #343a40;
        text-shadow: none;
    }

}

.options{
    background-color: rgba($color: #fff, $alpha: 0.6);
    padding: 50px;
    text-align: center;

    a{
        background-color: rgba($color: #000, $alpha: 0.7);
        color: #fff;
        padding: 20px 15px;
        text-decoration: none;
    }
    a:hover{
        color: #fff;
        background-color: rgba($color: #000000, $alpha: 0.8);
    }
}

.button-blue{
    background-color: #2196f3;
    color: #fff;
    font-weight: 700;
}
.button-yellow{
    background-color: #ffeb3b;
    color:#000;
    font-weight: 700;
}
.button-blue:hover,.button-yellow:hover{
    background: none;
}
.button-blue:hover{
    border:2px solid #2196f3;
    color:#2196f3;
}
.button-yellow:hover{
    border:2px solid #ffeb3b;
    color:#ffeb3b;
}