/* Login */
.body-login{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #00d1ea;
    background-image: url(asset-path("background-login.jpg"));
    
    img{
    border-radius: 100%;
    width: 100px;
    display:block;
    margin:auto;
    padding: 20px 0;
    }

    .form-area{
    background-color: rgba(255, 255, 255, .5);
    border-radius: 3px;
    padding: 20px;
    padding-bottom: 0;
    width: 80%;
    max-width: 350px;
    margin: 30px auto;
    padding-top: 10px;
    
        h2{
        color: #616161;
        text-align: center;
        }
    }

}