<!DOCTYPE html>
<html>
  <head>
    <title>RafaelRangel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body <% if !user_signed_in? %>class='body-login' <% end %>>
    
    <% if user_signed_in? %>
      <%= render 'partials/nav_primary.html.erb' %>
      <%= render 'partials/nav_secondary.html.erb' %>
    <% end %>
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
    
    <%= javascript_pack_tag params[:controller]%>
  </body>
</html>
